API_PORT=8080

# == API ==
FRONTEND_URL="http://localhost:3000"

# == Postgres ==
DATABASE_URL="postgres://user:pass@postgres:5432/fintech?sslmode=disable"

# == Message Broker ==
RABBITMQ_URL="http://user:pass@rabbitmq:5672/"

#  == Redis ==
REDIS_PORT="redis:6379"
REDIS_PASSWORD="pass"
REDIS_DB_IDX="0"
